# this will exclude all the files
# so we need to include the types that we want to upload (exclude them from this rule)
*

# we start with a '!', to negate the pattern
# so this will exclude all the directory from the above rule, viz. to upload them
!/**/

#ignore node_modules folder
node_modules

# Source files
!*.c
!*.cpp
!*.h
!*.hpp
!*.json
!*.mak
!*.md
!*.json
!*.java

# Specific files
!.gitignore
![mM]akefile 
